@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300;1,400&display=swap');
*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: Roboto;
}
.container-header{
    align-items: center;
    background-color: #222222;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: space-between;
    height: 100px;
    width: 100vw;
}
header div{
    margin-left: 0.75rem;
}
a {
    font-size: 16px;
}
.header-nav a{
    color: #F3F3F3;
    text-decoration: none;
    margin: 0.5rem;
}

.center{
    background-color: #E5E5E5;
    display: flex;
    justify-content: space-between;
    height: 450px;
    width: 100vw;
}
.cuadro1{
    align-self: center;
    background-image: url('/img/delivery.jpg');
    background-repeat: no-repeat;
    border-radius: 5px;
    flex-grow: 1;
    margin-left: 19px;
    min-height: 350px;
    position: relative;
}
.cuadro1 h2 {
    position: absolute;
    top: 1rem;
    left: 1rem;
    text-align: left;
}
.cuadro2{
    align-self: center;
    background-color: white;
    border-radius: 5px;
    flex-grow: 1;
    margin-right: 19px;
    min-height: 350px;
}
h2 {
    color: #FC200C;
    text-align: center;
    font-size: 24px;
    position: relative;
    top: 2rem;
}
h2 span {
    color: #F3F3F3;
}
ul{
    list-style: none;
    font-weight: bold;
    font-size: 20px;
    position: relative;
    left: 3.5rem;
    top: 5rem;
}

ol li{
    line-height: 1.7;
    font-size: 16px;
    position: relative;
    top: 15px;
}
.float img {
    position: absolute;
    width: 92px;
    height: 129px;
    left: 90vw;
    top: 267px;
}
footer{
    align-items: center;
    background-color: #222222;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: space-between;
    height: 150px;
    width: 100vw;
}
footer nav {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}
footer a {
    color: #F3F3F3;
    text-decoration: none;
    margin: 0 0 1rem 1rem;
}
footer div{
    margin-right: 0.75rem;
}