@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;1,100;1,300;1,400&display=swap');
*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: Roboto;
}
header{
    align-items: center;
    background-color: #222222;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: space-between;
    height: 100px;
}
header div{
    margin-left: 20px;
}
header nav{
    margin-right: 20px;
}
header a{
    color: #F3F3F3;
    margin-right: 20px;
    text-decoration: none;
}
main{
    background-color: #E5E5E5;
    display: flex;
    width: 1024px;
    height: 500px;
    justify-content: space-between;

}
.cuadro1{
    background-image: url('/img/delivery.jpg');
    background-repeat: no-repeat;
    border-radius: 5px;

    flex-grow: 1;
}
.cuadro2{
    background-color: white;
    border-radius: 5px;

    flex-grow: 1;
}
section img{
    width: 92px;
    height: 129px;
    position: absolute;
    width: 92px;
    height: 129px;
    left: 839px;
    top: 267px;
}
footer{
    align-items: center;
    background-color: #222222;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: space-between;
    height: 150px;
}
footer nav {
    display: flex;
    flex-direction: column;
}
footer a {
    color: #F3F3F3;
    text-decoration: none;
    margin: 0px 0 10px 15px;
}