@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Karla:wght@400;500;600;700&family=Roboto:wght@400;500;700&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.header {
    align-self: flex-start;
    font-family: Roboto, sans-serif;
    height: 9.23vh;
    width: 100vw;
}
.header-top {
    background-color: #1CD1B0;
    font-size: 0.94rem;
}
.header-bottom {
    align-items: center;
    background-color: #00669F;
    color: #ffffff;
    display: flex;
    font-size: 1.88rem;
}
body {
    width: 100vw;
    display: flex;
    flex-direction: column;

}
.main {
    align-self: center;
    align-content: center;
    font-family: Karla, sans-serif;
    height: 85.30vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 40.36vw;
}
.main h1 {
    align-self: flex-start;
    font-family: inter, sans-serif;
    font-size: 4.5rem;
    font-weight: 700;
    margin: 0 0 2.19rem 0;
}
.datos {
    align-items: center;
    display: flex;
    flex-direction: column;
}
.datos input, .datos select{
    border-width: 0.1rem;
    height: 5.38vh;
    margin: 0 0 1.25rem 0;
    width: 40.36vw;
}
.datos ::placeholder {
    color: #000000;
    padding: 0 0 0 1.87vw;
}
.datos-reg ::placeholder, .datos-reg select {
    color: #000000;
    padding: 0 0 0 0.63vw;
}
.boton-cont {
    display: flex;
    justify-content: center;
    margin: 2.44rem 0 1.26rem 0;
}
.boton {
    align-items: center;
    background-color: #1CD1B0;
    border-radius: 2.06vh;
    display: flex;
    font-size: 2.15vh;
    font-weight: 700;
    height: 4.82vh;
    justify-content: center;
    width: 39.99vw;
}
.boton-reg {
    width: 20.83vw;
    margin: 0 0.69vw 0 0.69vw;
}
.reset {
    background-color: #888888;
    color: #FFFFFF;
}
.footer {
    align-self: flex-end;
    align-items: center;
    background-color: #00669F;
    color: #ffffff;
    display: flex;
    font-family: Roboto,sans-serif;
    font-size: 1rem;
    height: 5.47vh;
    justify-content: center;
    width: 100vw;
}