@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    box-sizing: border-box;
    margin: 0%;
    font-family: 'Roboto', sans-serif;
}

header {
    position: sticky;
}

body {
    display: flex;
}

.descuentos {
    background-color: #1CD1B0;
    padding: 10px;
    font-weight: 400;
    font-size: 15px;
    line-height: 17.58px;
}

.heroes {
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 47px;
    letter-spacing: 0em;
    text-align: left;
    padding: 28px 28px 26px;
    background-color: #00669F;
}

main {
    align-content: center;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.card {
    font-weight: 400;
    font-style: normal;
    background-color: #F3F3F3;
    border-radius: 1rem 1rem 0 0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 300px;
    height: 529px;
}

.bg-img {
    width: 300px;
    height: 193px;
    border-radius: 1rem 1rem 0 0;
}

.card p {
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    margin-left: 16px;
    margin-right: 17px;
    margin-top: 119px;
    margin-bottom: 104px;
}

.card h2 {
    font-size: 30px;
    line-height: 35px;
    letter-spacing: 0em;
    text-align: center;
}

.pic {
    border-radius: 100%;
    width: 120px;
    height: 118px;
}

.heart {
    color:red;
}

.button {
    align-self: flex-end;
    background-color: #00669F;
    color: #F3F3F3;
    text-align: center;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    width: 128px;
    height: 48px;
}

footer {
    align-self: flex-end;
    background-color: #00669F;
    height: 51px;
    min-width: 100vw;
}

footer p {
    padding: 16px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFF9F9;
}