html{
    text-align: center;
    margin: 0 auto;
    width: 1440px;
    font-family: Times New Roman;
}
header{
    background-color: #E5E5E5;
}
body{
    background-color: #e5e5e5;
}
main{
    background-color: #FFFFFF;
    text-align: left;
}
section{
    padding: 80px 230px 120px;
}
h1{
    background-color: #C4C4C4;
    color: #005677;
    font-size: 35px;
    height: 60px;
    line-height: 29.64px;
    letter-spacing: 10px;
    padding: 27px 0px 0px 0px;
    margin: 0;
}
h2{
    background-color: #C4C4C4;
    color: #005677;
    font-size: 20px;
    font-weight: 700;
    height: 30px;
    letter-spacing: 7px;
    line-height: 16.94px;
    padding: 10px 0px 0px 10px;
}
ul,p{
    line-height: 23px;
}
span{
    font-size: 15px;
    font-style: italic;
    font-weight: 700;
    line-height: 12.7px;
}
.date{
    font-style: normal;
}
.none{
    list-style: none;
}
p{
    margin: 0 0 0 74px;
}
footer{
    background-color: #005677;
    color: #FFFFFF;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    height: 37px;
    line-height: 30px;
    padding: 0 0 0 12px;
    text-align: center;
}
footer img{
    margin: 0px 0px 0px 20px;
    vertical-align: text-bottom;
}