html{
    font-family: Times New Roman;
}
header{
    background-color: #E5E5E5;
    text-align: center;
}
h1{
    background-color: #C4C4C4;
    color: #005677;
    letter-spacing: 10px;
    margin-top: 0%;
    text-align: center;
    margin-bottom: 100px;
}
h2{
    background-color: #C4C4C4;
    color: #005677;
    font-size: 20px;
    font-weight: 700;
    height: 28px;
    letter-spacing: 7px;
    margin-top: 30px;

}
section{
    margin-left: 200px;
    max-width: 1024px;
}

footer{
    background-color: #005677;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: bold;
    height: 37px;
    line-height: 17px;
    margin-top: 130px;
    padding-top: 12px;
    text-align: center;
}
footer img{
    margin: 0px 0px 0px 15px;
    vertical-align: text-bottom;
}